body {
    background-color: #1f2937;
    font-family: roboto;
    margin: 0px;
}

.hero , .header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

div.hero {
    display: flex;
    width: 72%;
    margin: 8% auto;
    margin-top: 8%;
    justify-content: space-around;
    gap: 18px;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.su1 , .call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 40px;
    font-size: large;
    font-weight: bolder;
    border: 1px solid #3882f6;
    border-radius: 15px;
    
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 750;
    margin: 10% auto;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 290;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.img1 {
    max-width: 480px;
    height: auto;
    background-color: grey;
    
}
ul {
    list-style: none;
}

.text{
    width: 80%;
    margin-top: 0px;
    margin-bottom: 14px;
}

.article {
    text-align: center;
    background-color: #f9faf8;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items {
    display: flex;
    justify-content: center;
    gap: 52px;
    font-size: 18px;
    font-weight: 370;
}

.item {
    width: 200px;
    color: #1f2937;
    font-weight: 380;
}

div.items {
    margin-bottom: 10%;
}

.img2 {
    width: 200px;
    height: 134px;
    border-radius: 15px;
}

.t1 ,.t2 {
    width: 60%;
}

.t1 {
    margin-top: 10%;
}

.t2 {
    font-style: normal;
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 7%;
    margin-left: 80%;
}

.cta {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 18%;
    width: 60%;
    padding: 2% 6%;
    margin: 0;
}

.hs {
    font-size: 24px;
}

.t3 {
    font-weight: 370;
    color: #e5e7eb;
}

.su2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    width: 15%;
    height: fit-content;
    font-size: large;
    font-weight: bold;
    padding: 1% 2%;
    margin-top: 3%;
}

div.call-to-action {
    margin-top: 7%;
    margin-bottom: 7%;
}

.footer {
    text-align: center;
    color: #f9faf8;
    font-size: 18px;
    margin: 3%;
}