body {
    background-color: #1f2937;
    font-family: roboto;
}

.hero , .header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

div.hero {
    display: flex;
    width: 72%;
    margin: auto;
    margin-top: 8%;
    justify-content: space-around;
    gap: 18px;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.su1 , .call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 40px;
    font-size: large;
    font-weight: bolder;
    border: 1px solid #3882f6;
    border-radius: 15px;
    
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.img1 {
    width: 1000px;
    height: 250px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}

.text{
    width: 76%;
}